/media
/week6/.DS_Store
/week6/market/.Python
/week6/market/bin/
/week6/market/include/
/week6/market/lib/
.DS_Store
/week6/market/pip-selfcheck.json
/__pycache__/
1-Simple-Blog/simpleblog/blog/__pycache__/
2-Simple-Blog/1-Simple-Blog/simpleblog/blog/__pycache__/
